#root {
  
  margin: 4;
  padding-top: 6em;      /* Padding superior */
  padding-right: 2em;    /* Padding derecho */
  padding-bottom: 1.5em; /* Padding inferior */
  padding-left: 4em;    
  
}

.logo {
  height: 6em;                   /* Mantiene la altura del logotipo */
  padding-top: 0;               /* Sin padding en la parte superior */
  padding: 0em;
  transition: none;    
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0em;
}

.read-the-docs {
  color: #888;
}
