:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    display: flex;             /* Usar flexbox para alineación */
    flex-direction: column;    /* Alinear elementos en columna */
    justify-content: center;    /* Centrar verticalmente */
    
    height: 100vh;            /* Altura completa de la ventana */             /* Sin márgenes */
    padding: 0;               /* Sin padding */

}

h1 {
  font-size: 5em;
  line-height: 1;
}

.custom-button {
  font-family: 'Louis George Cafe', sans-serif; /* Fuente Louis George Cafe */
  font-size: 1.2em; /* Tamaño de la fuente */
  color: white; /* Color de la letra */
  background-color: #006A77; /* Color de fondo inicial */
  border: 2px solid #006A77; /* Borde gris claro de 10px */
  
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.25s, border-color 0.25s, color 0.25s; /* Transición suave */
  display: inline-block; /* Hace que el botón se ajuste al contenido */
  text-align: center; /* Alineación del texto a la izquierda */
}

.custom-button:hover {
  background-color: #001B1F; /* Fondo verde oscuro al hacer hover */
  border-color: #001B1F; /* Borde verde oscuro al hacer hover */
  color: white; /* Asegura que el texto siga siendo blanco */
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.font-weight-medium {
  font-family: 'Louis George Cafe', sans-serif;
  font-size: 1.2em; /* Tamaño de fuente en píxeles */
  text-transform: none;
  margin-bottom: 0;
}
